/* body{ */
    /* margin: 0px; */
}
/* body {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}
.akan {
    border-collapse: collapse;   
  }
  
.akan td, .akan th {
    border: 1px solid #ddd;
    padding: 8px; 
  }
.akan tr:nth-child(even){background-color: #f2f2f2;}

.akan tr:hover {background-color: #ddd;}

.akan th {
  padding-top: 12px;
  padding-bottom: 12px; 
  text-align: left;
  background-color: #04AA6D;
  color: white; }
/* button {
    text-align: center;
    cursor: pointer;
    border-radius: 0.3em;
    box-sizing: border-box;
    padding:16px 80px;
    text-decoration:none;
    background-color: lightcoral;
} */
/* .iframe{
    position: relative;
    width: 100%;
    padding-bottom: 2%;
    height: 0;
  }  */
