body {
    background-image: url(images/Ghana-Independence.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.akan {

    border-collapse: collapse;
     
  }
  
.akan td, .akan th {
    border: 1px solid #ddd;
    padding: 8px;
  }
.akan tr:nth-child(even){background-color: #f2f2f2;}

.akan tr:hover {background-color: #ddd;}

.akan th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white; }
